/* make sure menu is after config
so that menu can use config */
@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    // left then right
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

// all the links, remove underlined links (text-decoration)
a {
  color: #fff;
  text-decoration: none;
}

// header button fixed at top event when scrolling
header {
  position: fixed;
  // z-index determines the forward postion, always in front if higher number
  z-index: 2;
  // width across the whole screen
  width: 100%;
}

.text-secondary {
  color: $secondarycolor;
}

main {
  padding: 4rem;
  height: 100%;
  // only affects the class of icons inside main, nesting
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      // in CSS a:hover - hovering over with mouse
      &:hover {
        color: $secondarycolor;
        @include easeOut();
      }
    }
  }
  // any main that has the id of home
  &#home {
    // hides the scroll bars
    overflow: hidden;
    h1 {
      // vh, vw is a unit of 100 slices of the page screen
      // push it down 20/100 slices
      margin-top: 20vh;
    }
  }
}
